h1, h3, h4 {
    text-align: center;
    font-family: fantasy;
    background-color: blue;
    color: white;
}

h3 {
    background-color: red;
}

.picture {
    height: auto;
    width: 875px;
}

p {
    font-size: x-large;
}

ul {
    font-size: larger;
}

ol {
    font-size: large;
}

a:link {
    font-size: larger;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

